body {
    background: linear-gradient(150deg, #b3e6ff, #f3c6f5, #c6ffdd);
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


.text1{
    font-family: "Great Vibes", cursive;
    font-size: 80px;
}

.text2{
    font-size: 30px;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
}

a {
    background-image: linear-gradient(
      to right,
      #54b3d6,
      #54b3d6 50%,
      #000 50%
    );
    background-size: 200% 100%;
    background-position: -100%;
    display: inline-block;
    padding: 5px 0;
    position: relative;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s ease-in-out;
  }
  
  a:before{
    content: '';
    background: #54b3d6;
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 3px;
    transition: all 0.3s ease-in-out;
  }
  
  a:hover {
   background-position: 0;
  }
  
  a:hover::before{
    width: 100%;
  }

  @media screen and (max-width: 768px){
	.text2, a {
        font-size: 20px !important;
    }
    .image {
        width:100px;
    }
}
